<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/general.css') }}"/>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Gema</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('usuario.listar') }}">Usuarios</a>
                </li>
            </ul>
        </div>
    </nav>

    {% set flash_success = app.session.flashbag.get('success') %}
    {% set flash_error = app.session.flashbag.get('error') %}
    {% if flash_success %}
        <div class="alert alert-success">
            <ul>
                {% for flash_message in flash_success %}
                    <li>{{ flash_message }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if flash_error %}
        <div class="alert alert-danger">
            <ul>
                {% for flash_message in flash_error %}
                    <li>{{ flash_message }}</li>
                    {% endfor %}
            </ul>
        </div>
    {% endif %}

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}


<script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script src="{{ asset('js/jquery.MultiFile.js') }}" type="text/javascript" language="javascript"></script>
<script type="text/javascript" src="{{ asset('js/general.js') }}"></script>
</body>
</html>